// Place all the styles related to the Articles controll n.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type=text] {
   width: 50%;
   padding: 12px 12px;
   border: 2px solid #ccc;
   background-color: #f8f8f8;
}
textarea {
   width: 95%;
   height: 150px;
   padding: 12px 12px;
   border: 2px solid #ccc;
   background-color: #f8f8f8;
   resize: none;
   color: white;
}

input[type=button], input[type=submit] {
   background-color: navy;
   float: right;
   color: white;
   padding: 16px 20px;
   text-decoration: none;
   cursor: pointer;
}
li { 
    display: inline-block; 
    color: white;
}
h2 {
    text-align:center;
    font-size: 30;
    border: dotted;
}
h1 {
    text-align: center;
    font-size: 30;
}